<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
    <linearGradient id="a" gradientUnits="userSpaceOnUse" x1="32" y1="11.833" x2="32" y2="29.18" spreadMethod="reflect">
      <stop offset="0" stop-color="#6dc7ff"/>
      <stop offset="1" stop-color="#e6abff"/>
    </linearGradient>
    <path d="M37 11v13a5 5 0 0 1-10 0V11h10z" fill="url(#a)"/>
    <linearGradient id="b" gradientUnits="userSpaceOnUse" x1="52" y1="11.833" x2="52" y2="29.18" spreadMethod="reflect">
      <stop offset="0" stop-color="#6dc7ff"/>
      <stop offset="1" stop-color="#e6abff"/>
    </linearGradient>
    <path
      d="M47 24a5.005 5.005 0 0 0 6.008 4.901C55.382 28.438 57 26.204 57 23.785v-.052a8.017 8.017 0 0 0-.717-3.312l-3.217-7.077A4 4 0 0 0 49.425 11H47v13z"
      fill="url(#b)"/>
    <linearGradient id="c" gradientUnits="userSpaceOnUse" x1="12" y1="11.833" x2="12" y2="29.18" spreadMethod="reflect">
      <stop offset="0" stop-color="#6dc7ff"/>
      <stop offset="1" stop-color="#e6abff"/>
    </linearGradient>
    <path
      d="M17 11h-2.425a4 4 0 0 0-3.641 2.344l-3.217 7.077A8.022 8.022 0 0 0 7 23.734v.052c0 2.611 1.909 4.943 4.509 5.191A5.002 5.002 0 0 0 17 24V11z"
      fill="url(#c)"/>
    <linearGradient id="d" gradientUnits="userSpaceOnUse" x1="25" y1="10" x2="25" y2="54.561" spreadMethod="reflect">
      <stop offset="0" stop-color="#1a6dff"/>
      <stop offset="1" stop-color="#c822ff"/>
    </linearGradient>
    <path fill="url(#d)" d="M24 44h2v4h-2z"/>
    <linearGradient id="e" gradientUnits="userSpaceOnUse" x1="41" y1="10" x2="41" y2="54.561" spreadMethod="reflect">
      <stop offset="0" stop-color="#1a6dff"/>
      <stop offset="1" stop-color="#c822ff"/>
    </linearGradient>
    <path
      d="M34 46h14c1.103 0 2-.897 2-2v-8c0-1.103-.897-2-2-2H34c-1.103 0-2 .897-2 2v8c0 1.103.897 2 2 2zm0-10h14v8H34v-8z"
      fill="url(#e)"/>
    <linearGradient id="f" gradientUnits="userSpaceOnUse" x1="32" y1="10" x2="32" y2="54.561" spreadMethod="reflect">
      <stop offset="0" stop-color="#1a6dff"/>
      <stop offset="1" stop-color="#c822ff"/>
    </linearGradient>
    <path
      d="M54 51V29.647c2.357-.838 4-3.175 4-5.914a8.912 8.912 0 0 0-.808-3.726l-3.217-7.076A5.005 5.005 0 0 0 49.425 10H14.575a5.008 5.008 0 0 0-4.551 2.931l-3.217 7.077A8.988 8.988 0 0 0 6 23.785c0 2.665 1.672 4.999 4 5.857V51c0 .352.072.686.184 1H6v2h52v-2h-4.184c.112-.314.184-.648.184-1zM28 38h-8v-2h8v2zm0-4h-8c-1.103 0-2 .897-2 2v12h-6V29.998a6.027 6.027 0 0 0 4.035-1.557c.372-.338.69-.723.962-1.135A6 6 0 0 0 22 30a5.997 5.997 0 0 0 5-2.69c1.075 1.62 2.914 2.69 5 2.69s3.925-1.071 5-2.69A5.995 5.995 0 0 0 42 30a5.995 5.995 0 0 0 5.001-2.693c.326.491.72.942 1.187 1.327A5.996 5.996 0 0 0 52 29.999V48H30V36c0-1.103-.897-2-2-2zm24.155-20.241l3.217 7.077c.417.915.628 1.89.628 2.949 0 2.035-1.339 3.774-3.184 4.135-1.224.241-2.417-.056-3.356-.83A3.99 3.99 0 0 1 48 24V12h1.425c1.174 0 2.245.69 2.73 1.759zM46 12v12c0 2.206-1.794 4-4 4s-4-1.794-4-4V12h8zM36 24c0 2.206-1.794 4-4 4s-4-1.794-4-4V12h8v12zM26 12v12c0 2.206-1.794 4-4 4s-4-1.794-4-4V12h8zM8 23.733c0-1.008.211-1.982.628-2.897l3.217-7.078A3.004 3.004 0 0 1 14.575 12H16v12a4.013 4.013 0 0 1-1.31 2.961 3.99 3.99 0 0 1-3.087 1.021C9.583 27.788 8 25.945 8 23.733zM13 52a1 1 0 0 1-1-1v-1h6v2h-5zm7 0V40h8v12h-8zm10 0v-2h22v1a1 1 0 0 1-1 1H30z"
      fill="url(#f)"/>
  </svg>
</template>
